.about-profile-pic{
  img{
    max-block-size: 200px;
    border-radius: 100px;
  }
}

.link-pic{
  img{
    margin-top: 10px;
    max-block-size: 50px;
  }
}

.link-pic-al{
  img{
    max-block-size: 30px;
  }
}