.hero{
  color: $yellow;
  display: flex;
  align-items: center;
}

// .carousel .slider-wrapper{
//   width: 50%;
// }

// .carousel-wrapper{
//   width: 50%;
//   display: flex;
// }

.carousel-status{
  display: none;
}

.carousel-root{
  width: 58vh;
}