.add-sneaker-button{
  padding: 12px 20px;
}
.sneaker{
  .card{
    text-decoration: none;
    .card-header{
      background-color: #7952B3;
      color: white;
    }
    .card-image{
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
    .card-footer{
      background-color: #FFC107;
      color: #7952B3;
    }
  }
}

.btn{
  text-decoration: none;
}